// Imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Variables
:root {
  --font-base: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', 'Inter', sans-serif;
  --color-background-generic: #22252e;
  --color-background-popups: #2e3140;
  --color-background-left-menu: #232830;
  --color-background-input-hover: #313342;
  --color-background-hovers: rgba(255, 255, 255, .05);
}

* {
  font-family: var(--font-base);
}

// Overrides
.theme_dark {
  #top_bar {
    box-shadow: none !important;
  }

  // Header and main task list
  .section header,
  .task_list_item:hover .task_list_item__actions,
  .task_list_item__actions__active,
  .task_list_item__actions,
  .task_list_item:hover,
  .expansion_panel .expansion_panel__header,
  .view_header,
  #content,
  #top_bar,
  #quick_find .quick_find__input,
  .task_list_item {
    background-color: var(--color-background-generic) !important;
    border-color: var(--color-background-generic) !important;
    background-image: none !important;
  }

  .task_list_item .task_list_item__content {
    z-index: 5;
  }

  .task_list_item:hover .task_list_item__actions {
    z-index: 99;
  }

  // Modals etc.
  .comments_textarea_holder textarea,
  .comments_textarea_holder,
  .quick_add__body,
  header.reactist_modal_box__header,
  .reactist_modal_box__footer,
  .reactist_modal_box,
  .reactist_modal_box div[role="button"],
  .reminders_picker_options,
  .item_detail .sub_items_tab_container .task_list_item__actions,
  .menu_list {
    border-color: var(--color-background-popups) !important;
    background-color: var(--color-background-popups) !important;

    .focus-marker-enabled-within * {
      border-color: var(--color-background-popups) !important;
      background-color: var(--color-background-popups) !important;
    }
  }

  .reactist_modal_box .task_list_item {
    border-color: rgba(255, 255, 255, .1) !important;
  }

  // Actions
  .items .task_list_item {
    transition: all .2s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
  }

  .items .task_list_item[aria-selected="true"] {
    background: var(--color-background-popups) !important;
    padding: 3px 14px !important;
    border-radius: 5px !important;
  }

  // Left menu
  #left_menu .expansion_panel .expansion_panel__header,
  #left_menu .sidebar_expansion_panel,
  #left_menu,
  #left_menu .focus-marker-enabled-within > li > div > div {
    background-color: var(--color-background-left-menu) !important;
    border-color: var(--color-background-left-menu) !important;
  }

  #quick_find .quick_find__input:focus,
  #quick_find .quick_find__input:hover {
    background-color: var(--color-background-input-hover);
    border-color: var(--color-background-input-hover);
  }

  #left_menu .focus-marker-enabled-within > li > div > div:hover,
  .menu_list .menu_item:hover,
  .focus-marker-enabled-within > li > div:hover > div,
  #left_menu.left_menu_project_iconongraphy #top_filters > li.current,
  #left_menu.left_menu_project_iconongraphy #top_filters > li:hover,
  #left_menu.left_menu_project_iconongraphy .generic_left_list .current table,
  #left_menu.left_menu_project_iconongraphy .generic_left_list table:hover,
  #left_menu.left_menu_project_iconongraphy .listItem:hover .listItemContent,
  #left_menu.left_menu_project_iconongraphy .listItemHighlighted .listItemContent,
  #left_menu.left_menu_project_iconongraphy .listItemSelected .listItemContent,
  #left_menu.left_menu_project_iconongraphy .SidebarListItem.SidebarListItem--selected,
  #left_menu.left_menu_project_iconongraphy .SidebarListItem:hover,
  #left_menu.new_side_bar_design #top_filters > li.current,
  #left_menu.new_side_bar_design #top_filters > li:hover,
  #left_menu.new_side_bar_design .generic_left_list .current table,
  #left_menu.new_side_bar_design .generic_left_list table:hover,
  #left_menu.new_side_bar_design .listItem:hover .listItemContent,
  #left_menu.new_side_bar_design .listItemHighlighted .listItemContent,
  #left_menu.new_side_bar_design .listItemSelected .listItemContent,
  #left_menu.new_side_bar_design .SidebarListItem.SidebarListItem--selected,
  #left_menu.new_side_bar_design .SidebarListItem:hover {
    background: var(--color-background-hovers) !important;
  }

  // Clockify
  .clockify-button,
  .clockify-button-active,
  .clockify-button-inactive {
    z-index: 5;
    padding: 0 !important;
    align-self: center;
    position: absolute;
    left: -42px;
    transition: all .22s;
    opacity: 0;
  }

  .clockify-button-active {
    opacity: 1 !important;
  }

  .task_list_item:hover {
    .clockify-button,
    .clockify-button-inactive {
      opacity: 1;
    }
  }
}
